slug
*~
.*~
~*
*$py.class
AUDIT-EVALUATE.md
*.bak
build/
.cache
CHANGES.md
.claude/
CLAUDE*
CLAUDE.md
*.cover
cover/
.coverage
.coverage.*
coverage_html/
coverage.xml
curtest.sh
cython_debug/
.dev/
dev/
develop-eggs/
DEVELOPMENT.md
DISCOVER.md
dist/
.dmypy.json
dmypy.json
downloads/
.DS_Store
*.egg
*.egg-info/
.eggs/
eggs/
.env
env/
ENV/
env.bak/
.env.local
.git
.git*
.git/*
git/
.gitcommit
gitcommit
.gitignore
gitignore
.gudang
gudang
htmlcov/
.hypothesis/
.idea/
IMPROVEMENTS.md
index.php
.installed.cfg
.ipynb_checkpoints
.ipynb_checkpoints/
ipython_config.py
*.json
lib/
lib64/
*.manifest
MANIFEST
*.mo
*.mp3
.mypy_cache/
*.njsproj
node_modules/
nosetests.xml
.nox/
npm-debug.log*
*.ntvs*
*.old
.old
old/
parts/
pip-delete-this-directory.txt
pip-log.txt
*.pot
profile_default/
PURPOSE-FUNCTIONALITY-USAGE.md
*.pyc
__pycache__
__pycache__/
*.py[cod]
*.py,cover
.pyre/
.pytest_cache/
.Python
.python-version
.pytype/
*.raw
refactor*
release/
release.sh
.ropeproject
.script
sdist/
share/python-wheels/
*.sln
*.so
*.spec
.spyderproject
.spyproject
*.srt
*.suo
*.sw?
*.swo
*.swp
.symlink
t
t1
t2
t3
t4
.temp
temp
temp/
t.htm*
Thumbs.db
.tmp
tmp
tmp/
.tox/
t.py
tt
tt.htm*
tt.py
ttt
ttt.htm*
ttt.py
unittests/_post_slug.*
var/
.venv
.venv/
venv/
venv.bak/
.vscode/
*.vtt
*.wav
wheels/
yarn-debug.log*
yarn-error.log*
